.additional-catalog {
  padding-top: 50px;
  padding-bottom: 85px;
}

.additional-catalog__title {
  margin-top: 25px;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.additional-catalog__content-wrapper {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional-catalog__list {
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border-left: 1px solid $color-gray-250;
    border-right: 1px solid $color-gray-250;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    border-left: none;
    border-right: none;
  }
}

.additional-catalog__item {
  border-top: 1px solid $color-gray-250;

  &:last-child {
    border-bottom: 1px solid $color-gray-250;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 38px 26px;
  }
}

.additional-catalog__promo {
  position: relative;

  margin-bottom: 35px;
  min-height: 290px;

  background-color: $color-primary-500;
  background-image: url("../../img/additional-catalog__bg_mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    min-height: 200px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);

    width: 80px;
    height: 78px;

    background-image: url("../../img/svg/icon_gift.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 25%;
      transform: translateX(-75%);
    }

    @media (min-width: $desktop-width) {
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.additional-catalog__promo-text {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);

  width: 60%;

  font-family: $font-secondary;
  line-height: 20px;
  text-align: center;
  color: $color--white;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 60%;
    transform: translateY(-50%);

    width: 160px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
  }
}
