.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-gray-850;
}

.additional-product__description {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color--white;
  background-color: $color-primary-500;
}
