.additional-product {
  padding-top: 12px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 15px;
    grid-template-columns: repeat(2, 285px) 245px;
    column-gap: 40px;
    align-items: center;
  }
}

.additional-product__title {
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-gray-850;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-product__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    margin-left: 65px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-product__link {
  display: block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color--white;

  background-color: $color-primary-500;
  
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
  }
}
