.additional-product {
  padding-top: 12px;
  padding-bottom: 20px;
}

.additional-product__title {
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-gray-850;
}

.additional-product__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__link {
  display: block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color--white;

  background-color: $color-primary-500;
}
