.choose-plan {
  display: flex;
  flex-direction: column;
  padding: 20px;

  background-image: url(../../img/index-backgorund-mobile.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  color: $color--white;
  text-align: center;
}

.choose-plan__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.choose-plan__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.choose-plan__button {
  font-size: 14px;
  line-height: 18px;
  color: $color--white;
  text-transform: uppercase;

  background-color: $color-primary-500;
}
