.example {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  padding: 25px 20px;
  color: $color-gray-700;

  background-color: $color-gray-100;
}

.example__heading {
  font-family: $font-main;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $color--black;
}

.example__item {
  margin: 0;
}

.example__title {
  font-family: $font-main;
  font-size: 24px;
  line-height: 24px;

  color: $color--black;
}

.example__definition {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.example__cost {
  font-family: $font-main;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color--black;
}

.example-slider__controls {
  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  color: $color--black;
  text-transform: uppercase;
}
