.expertise {
  padding: 0 20px;
}

.expertise__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.expertise__list {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray-700;
}
