.expertise {
    padding: 0 20px;
}

.expertise__title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    font-style: normal;
    font-weight: 400;
    color: $color--black;
}

.expertise__list {
    list-style-type: none;
    padding-left: 0;
}

.expertise__item {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    font-weight: 400;
    color: $color-gray-700;
}