.field-group__legend {
  padding: 0;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $color--black;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }

  &--additional {
    margin-bottom: 57px;
  }
}

.field-group__list {
  display: grid;

  &--parameters {
    row-gap: 13px;

    @media (min-width: $tablet-width) {
      row-gap: 20px;
    }
  }

  &--program {
    row-gap: 13px;
  }

  &--contacts {
    row-gap: 14px;

    @media (min-width: $tablet-width) {
      row-gap: 20px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(2, 570px);
      column-gap: 80px;
    }
  }

  &--additional {
    row-gap: 13px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, minmax(280px, 500px));
      row-gap: 30px;
      column-gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 230px);
      justify-content: space-between;
    }
  }
}

.field-group__label {
  position: relative;
  display: flex;
  align-items: center;
  
  padding-left: 46px;
  min-height: 30px;
}

.field-group__checkbox {
  position: absolute;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:checked + .field-group__lead {
    background-image: url("../img/svg/checkbox-on.svg");
  }
}

.field-group__lead {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 30px;
  height: 30px;
  
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}
