.page-main__heading {
  margin-top: 45px;
  margin-bottom: 37px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.page-main__subheading {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
