.page-header {
  &--index {
    @media (min-width: $desktop-width) {
      background-image: 
        url("../../img/index-bg-desktop.png"),
        linear-gradient(90deg, $color--white 50%, #62a63b 50%);
      background-size: 720px 694px, 100%;
      background-repeat: no-repeat;
      background-position: calc(50% + 360px), center;
    }
  }
}
