.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 5px 0 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    padding: 8px 35px 39px;

    background: linear-gradient(
      180deg,
      $color--white 81px,
      $color-gray-50 81px
    );
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(
      180deg,
      $color--white 87px,
      $color-gray-50 87px
    );
  }
}

.product__img {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: end;

  height: 112px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 208px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__content {
  padding-top: 5px;
  padding-bottom: 15px;
}

.product__title {
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-gray-850;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__description {
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__button {
  grid-column: 1 / -1;

  padding: 10px;

  border: none;

  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $color--white;

  background-color: $color-primary-500;
}
