.select-program {
  line-height: 18px;
  text-transform: uppercase;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.select-program__form {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}