.select-program {
  line-height: 18px;
  text-transform: uppercase;
  color: $color-gray-700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.select-program__inner {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.select-program__heading {
  margin-top: 27px;
  margin-bottom: 37px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  color: $color--black;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    font-size: 60px;
    line-height: 60px;
  }
}

.select-program__subheading {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
  }
}


.select-program__form {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}