.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 75px 20px 25px;

  &::after, 
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    
    background-color: #d3d3d3;
  }
  
  &::after {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::before {
    top: 40px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}

.show-more__title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $color-gray-900;
}

.show-more__description {
  margin-bottom: 20px;

  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;

  color: $color-gray-700;
}

.show-more__button {
  padding: 10px;
  width: 100%;

  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-gray-700;

  border: none;
  background-color: $color-gray-50;
}
