.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: $color-gray-900;
}

.show-more__description {
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;

  color: $color-gray-700;
}

.show-more__button {
  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-gray-700;

  border: none;
  background-color: $color-gray-50;
}
