@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.choose-plan {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url("../../img/index-backgorund-mobile.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.choose-plan__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.choose-plan__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.choose-plan__button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}

.promo-offer__item {
  padding: 18px 20px;
  background-color: #f2f2f2;
}

.promo-offer__item:not(:last-child) {
  margin-bottom: 20px;
}

.promo-offer__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo-offer__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.promo-offer__link {
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.page-footer {
  background-color: #f2f2f2;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
}

.site-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__link {
  color: #000000;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.product__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #68b738;
}

.expertise {
  padding: 0 20px;
}

.expertise__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.expertise__list {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 25px 20px;
  color: #444444;
  background-color: #eaeaea;
}

.example__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.example__item {
  margin: 0;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__definition {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example-slider__controls {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.contacts__content {
  padding: 25px 20px;
}
.contacts__content--inner {
  background-color: #f2f2f2;
}

.contacts__title {
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.map__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.page-main__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.page-main__subheading {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.select-program {
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form {
  padding: 20px;
}

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #68b738;
}

.form__notification {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
}

.field-group__legend {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  color: #000000;
}

.field-additional {
  color: #000000;
}

.field-additional__legend {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}

.control {
  color: #222222;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.table {
  margin: 0;
}

.table__value {
  margin: 0;
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.show-more__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.show-more__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  border: none;
  background-color: #f2f2f2;
}

.additional-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-catalog__promo {
  min-height: 290px;
  background-color: #68b738;
  background-image: url("../../img/additional-catalog__bg_mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.additional-catalog__promo-text {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.additional-product__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.developer {
  font-family: "Arial", sans-serif;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */