@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  min-height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper {
  min-width: 320px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .content-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .content-wrapper {
    padding: 0 40px;
  }
}

.choose-plan {
  padding: 20px;
  background-image: url("../img/index-backgorund-mobile.png"), linear-gradient(180deg, #64a83b 62.5%, #ffffff 62.5%);
  background-position: top center;
  background-size: 320px 305px, 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .choose-plan {
    padding: 0 30px;
    text-align: left;
    color: #000000;
    background: none;
  }
}
@media (min-width: 1300px) {
  .choose-plan {
    padding: 0;
  }
}

.choose-plan__content {
  display: grid;
}
@media (min-width: 1300px) {
  .choose-plan__content {
    grid-template-columns: 50% 50%;
    margin: 0 80px;
    width: 1060px;
  }
}

.choose-plan__title {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .choose-plan__title {
    margin: 33px 0 28px 88px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .choose-plan__title {
    margin-top: 100px;
    margin-left: 0;
  }
}

.choose-plan__description {
  margin-top: 14px;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .choose-plan__description {
    font-size: 20px;
    line-height: 20px;
    margin-left: 88px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1300px) {
  .choose-plan__description {
    margin-left: 0;
  }
}

.choose-plan__picture {
  grid-column: 1/-1;
  grid-row: 3/5;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .choose-plan__picture {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.choose-plan__button {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  padding: 7px 44px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .choose-plan__button {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 25px;
    margin-left: 88px;
    padding: 14px 26px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .choose-plan__button {
    margin-left: 0;
  }
}

.promo-offer {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .promo-offer {
    padding-bottom: 22px;
  }
}
@media (min-width: 1300px) {
  .promo-offer {
    padding-top: 80px;
    padding-bottom: 35px;
  }
}

.promo-offer__list {
  display: grid;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .promo-offer__list {
    row-gap: 30px;
  }
}
@media (min-width: 1300px) {
  .promo-offer__list {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.promo-offer__item {
  padding: 18px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .promo-offer__item {
    padding: 50px;
  }
}

.promo-offer__title {
  position: relative;
  padding: 9px 0px 7px 80px;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo-offer__title--slim:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 50px;
  height: 53px;
  background-image: url("../../img/svg/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.promo-offer__title--pro::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 50px;
  background-image: url("../../img/svg/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-width: 768px) {
  .promo-offer__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .promo-offer__title--slim::before {
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-5%);
    width: 200px;
    height: 200px;
  }
  .promo-offer__title--pro::before {
    left: auto;
    right: -3%;
    top: 50%;
    transform: translateY(-5%);
    width: 250px;
    height: 200px;
  }
}

.promo-offer__description {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .promo-offer__description {
    border-bottom: none;
    max-width: 62%;
    font-size: 16px;
    line-height: 24px;
  }
}

.promo-offer__link {
  position: relative;
  padding-right: 40px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.promo-offer__link::after {
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url("../../img/svg/arrow-right.svg");
}

@media (min-width: 1300px) {
  .page-header--index {
    background-image: url("../../img/index-bg-desktop.png"), linear-gradient(90deg, #ffffff 50%, #62a63b 50%);
    background-size: 720px 694px, 100%;
    background-repeat: no-repeat;
    background-position: calc(50% + 360px), center;
  }
}

.social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social-list {
    width: 130px;
    border: none;
  }
}

.social-list__item {
  padding: 20px;
}
@media (min-width: 768px) {
  .social-list__item {
    padding: 0;
  }
  .social-list__item:not(:last-child) {
    margin-right: 25px;
  }
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 22px;
}
@media (min-width: 768px) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 30px 55px;
  }
}
@media (min-width: 1300px) {
  .page-footer__container {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.page-footer__logo {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .page-footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
}

.main-nav__logo-wrapper {
  padding: 10px 0 13px;
}
@media (min-width: 768px) {
  .main-nav__logo-wrapper {
    padding: 0;
  }
}

.main-nav__toggle {
  display: none;
}

@media (min-width: 768px) {
  .main-nav__list {
    margin: 0;
  }
}

.input {
  display: block;
  padding: 12px 13px;
  border: 1px solid #e7e7e7;
  font: inherit;
  text-transform: uppercase;
}
.input::-webkit-inner-spin-button, .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
.input--textarea {
  padding: 8px;
  min-height: 150px;
  white-space: nowrap;
  resize: none;
}
@media (min-width: 1300px) {
  .input--textarea {
    padding: 10px 20px;
  }
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
}

.site-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    margin-left: 30px;
    border: none;
  }
  .site-list__item:last-child {
    border: none;
  }
}

.site-list__link {
  display: block;
  padding: 22px;
  color: #000000;
}
@media (min-width: 768px) {
  .site-list__link {
    padding: 12px 0;
  }
}
@media (min-width: 1300px) {
  .site-list__link--index {
    color: #ffffff;
  }
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 20px 23px;
}
@media (min-width: 768px) {
  .product {
    padding: 8px 35px 39px;
    grid-template-columns: 1fr;
  }
}

.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__content {
  padding-top: 5px;
  padding-bottom: 15px;
}

.product__title {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .product__description {
    font-size: 16px;
  }
}

.product__button {
  grid-column: 1/-1;
  padding: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #68b738;
}

.expertise {
  margin-bottom: 50px;
}

.expertise__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.expertise__list {
  display: grid;
  row-gap: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .expertise__list {
    grid-template-columns: repeat(2, 34%);
    grid-column-gap: 137px;
    grid-row-gap: 110px;
  }
}
@media (min-width: 1300px) {
  .expertise__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.expertise__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  min-height: 60px;
  text-align: left;
  background-repeat: no-repeat;
}
.expertise__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-size: 60px;
}
.expertise__item--first {
  background-image: url("../../img/svg/first.svg");
}
.expertise__item--second {
  background-image: url("../../img/svg/second.svg");
}
.expertise__item--third {
  background-image: url("../../img/svg/third.svg");
}
.expertise__item--fourth {
  background-image: url("../../img/svg/fourth.svg");
}
@media (min-width: 768px) {
  .expertise__item {
    min-height: 228px;
    padding-left: 0;
  }
  .expertise__item::after {
    content: counter(feature);
    counter-increment: feature;
    display: block;
    position: absolute;
    top: -38px;
    right: 0;
    width: 136px;
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}

.example {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 25px 20px;
  color: #444444;
  background-color: #eaeaea;
}
@media (min-width: 1300px) {
  .example {
    display: grid;
    grid-template-columns: 590px 590px;
    column-gap: 40px;
    justify-content: center;
    background-color: transparent;
    background-image: linear-gradient(180deg, #ffffff 30%, #eaeaea 30%);
  }
}

.example__content {
  display: flex;
  flex-direction: column;
}

.example__heading {
  margin-top: 5px;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .example__heading {
    margin-top: 15px;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .example__heading {
    margin-bottom: 145px;
  }
}

.example__description {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .example__description {
    margin-bottom: 70px;
  }
}

.example__numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .example__numbers {
    min-width: 366px;
  }
}
@media (min-width: 1300px) {
  .example__numbers {
    margin-bottom: 50px;
  }
}
@media (min-width: 1300px) {
  .example__numbers {
    align-self: flex-start;
  }
}

.example__item {
  position: relative;
  margin: 0;
  padding: 15px 0;
  width: 44%;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  text-align: center;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  display: inline-flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__definition {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: 768px) {
  .example__effects {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1300px) {
  .example__effects {
    flex-direction: column;
  }
}

.example__cost {
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .example__cost {
    max-width: 180px;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .example__cost {
    margin: 0;
    max-width: 365px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
  }
}

.example-slider__img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.example-slider__controls {
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example-slider__controls {
    width: 590px;
  }
}

.example-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-slider__item--after {
  display: none;
}
@media (min-width: 768px) {
  .example-slider__item--after {
    display: block;
  }
}

.contacts {
  position: relative;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.contacts__content--inner {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .contacts__content {
    padding: 55px 70px;
  }
}
@media (min-width: 1300px) {
  .contacts__content {
    padding: 56px 80px;
    max-width: 565px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
  }
}

.contacts__title {
  width: 140px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .contacts__title {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }
}

.contacts__adress {
  display: flex;
  flex-direction: column;
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__adress {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  .contacts__adress span:first-child {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .contacts__city {
    margin-top: 18px;
  }
}

.map__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.page-main__heading {
  margin-top: 45px;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-main__heading {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subheading {
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .page-main__inner {
    padding: 0 40px;
  }
}
@media (min-width: 1300px) {
  .page-main__inner {
    padding: 0;
  }
}

.select-program {
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .select-program {
    font-size: 20px;
    line-height: 20px;
  }
}

.select-program__form {
  margin-bottom: 30px;
}
@media (min-width: 1300px) {
  .select-program__form {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}
@media (min-width: 1300px) {
  .select-program__form {
    margin-bottom: 80px;
  }
}

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}
.form__field--parameters {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .form__field--parameters {
    margin-bottom: 70px;
  }
}
.form__field--program {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .form__field--program {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }
}
.form__field--contacts {
  margin-bottom: 23px;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .form__field--contacts {
    margin-bottom: 65px;
  }
}
.form__field--comments {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__field--comments {
    margin-bottom: 65px;
  }
}
@media (min-width: 1300px) {
  .form__field--comments {
    grid-column: 1/-1;
  }
}
.form__field--additional {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__field--additional {
    margin-bottom: 55px;
  }
}
@media (min-width: 1300px) {
  .form__field--additional {
    grid-column: 1/-1;
  }
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1300px) {
  .form__submit-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    align-content: center;
  }
}

.form__button {
  margin-bottom: 20px;
  width: 100%;
  padding: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 1300px) {
  .form__button {
    margin: 0;
  }
}

.form__notification {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
}

.field__lead {
  white-space: nowrap;
  margin-right: 13px;
}

.field__input {
  width: 100%;
}

.field__icon {
  position: absolute;
  right: 10px;
}

.field-group__legend {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 35px;
  text-transform: none;
  color: #000000;
}

.field-group__list {
  display: grid;
}
.field-group__list--parameters {
  row-gap: 13px;
}
@media (min-width: 768px) {
  .field-group__list--parameters {
    row-gap: 20px;
  }
}
.field-group__list--program {
  row-gap: 13px;
}
.field-group__list--contacts {
  row-gap: 14px;
}
@media (min-width: 768px) {
  .field-group__list--contacts {
    row-gap: 20px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--contacts {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}
.field-group__list--additional {
  row-gap: 13px;
}
@media (min-width: 768px) {
  .field-group__list--additional {
    grid-template-columns: repeat(2, minmax(280px, 500px));
    row-gap: 30px;
    column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 230px);
    justify-content: space-between;
  }
}

.field-group__label {
  position: relative;
  padding-left: 46px;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.field-group__checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.field-group__checkbox:checked + .field-group__lead {
  background-image: url("../img/svg/checkbox-on.svg");
}

.field-group__lead {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.control {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  min-height: 30px;
  color: #222222;
}

.control__lead {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/svg/radio-off.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.control__radio {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}
.control__radio:checked + .control__lead {
  background-image: url("../img/svg/radio-on.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog__container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .catalog__container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.catalog__title {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.catalog__item {
  border-bottom: 1px solid #d9d9d9;
}
.catalog__item:first-child {
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog__item {
    border: none;
  }
  .catalog__item:first-child {
    border: none;
  }
}

.table {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.table__value {
  margin: 0;
  text-align: end;
}

.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 150px 20px 25px;
}
.show-more::after, .show-more::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
.show-more::after {
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.show-more::before {
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.show-more__title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.show-more__description {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.show-more__button {
  padding: 10px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  border: none;
  background-color: #f2f2f2;
}

.additional-catalog {
  padding-top: 50px;
  padding-bottom: 85px;
}

.additional-catalog__title {
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .additional-catalog__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-catalog__content-wrapper {
  display: grid;
  grid-template-columns: auto 245px;
  column-gap: 80px;
}

.additional-catalog__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-catalog__list {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin-bottom: 70px;
  }
}
@media (min-width: 1300px) {
  .additional-catalog__list {
    margin-top: 45px;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
  }
}

.additional-catalog__item {
  border-top: 1px solid #cdcdcd;
}
.additional-catalog__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-catalog__item {
    padding: 25px 38px 26px;
  }
}

.additional-catalog__promo {
  margin-bottom: 35px;
  position: relative;
  min-height: 290px;
  background-color: #68b738;
  background-image: url("../../img/additional-catalog__bg_mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.additional-catalog__promo::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 78px;
  background-image: url("../../img/svg/icon_gift.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .additional-catalog__promo::before {
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1300px) {
  .additional-catalog__promo::before {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .additional-catalog__promo {
    min-height: 200px;
    margin-bottom: 0;
    margin-top: 45px;
  }
}

.additional-catalog__promo-text {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .additional-catalog__promo-text {
    width: 160px;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .additional-catalog__promo-text {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.additional-product {
  padding-top: 12px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .additional-product {
    padding-top: 26px;
    padding-bottom: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1300px) {
  .additional-product {
    padding: 15px 0 15px;
    grid-template-columns: repeat(2, 285px) 245px;
    column-gap: 40px;
    align-items: center;
  }
}

.additional-product__title {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-product__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .additional-product__title {
    margin: 0;
  }
}

.additional-product__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-product__description {
    margin-bottom: 25px;
    margin-left: 65px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .additional-product__description {
    margin: 0;
  }
}

.additional-product__link {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .additional-product__link {
    grid-column: 1/-1;
  }
}
@media (min-width: 1300px) {
  .additional-product__link {
    grid-column-start: 3;
  }
}

.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Arial", sans-serif;
  color: #444444;
}
@media (min-width: 768px) {
  .developer {
    width: 163px;
  }
}
/*# sourceMappingURL=style.css.map */